<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container" id="body">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Welcome!</h1>
            <p>Du findest deinen lieblings Anime im Netz nicht?</p>
            <p>Du verlierst dauernd den Überblick bei welche Folge du bist?</p>
            <p>Du möchtest gerne bei deinen Freunden angeben wie viele Animes du schon gesehen hast?</p>

            <p>Dann bist du hier genau richtig!</p>
        </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
