<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">

    <header>

    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
            <p>
              <%
                for (var i = 0; i < anime.lenght; i++) {
                  anime[i].name
                }
                %>
              </p>
        </div>

        <h2>Variable</h2>
        <p> </p>


    </main>

    <footer>

    </footer>

</body>
</html>
