<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                AnStat - Deine Anime Statistik!
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/anime">Anime</a></li>
            <li><a href="/filterform">Filter</a></li>
            <li><a href="/addanime">Add Anime</a></li>
            <li><a href="/user">User</a></li>
            <li><a href="/genre">Genre</a></li>
            <li><a id="userProfil" href="" onclick="return openProfile()">Profile</a></li>
            <li><a href="/ref">Referenz</a></li>
            <li><a id="login-out" href="/login">Login</a></li>
            <li><a id="signup" href="/signup">Signup</a></li>
        </ul>

    </div>
    <script>
    var d = document.getElementById('login-out');
    var e = document.getElementById('signup');
    if(document.cookie == ""){
      d.href = "/login";
      d.innerHTML = "Login";
      e.style.visibility = "visible";
    } else {
      d.href = "/logout";
      d.innerHTML = "Logout";
      e.style.visibility = "hidden";
    }
    function openProfile(){
      var cookie = document.cookie;
        if(cookie != ""){
        var c1 = cookie.split(';');
        var value = c1[1].split('=');
        if(value[1] != 0){
          var str = '/user/'+value[1];
          window.location = str;
        }
      } else {
        alert("You are not Logged In");
        window.location = '/login';
      }
      return false;
    };
    </script>
</nav>
