<!-- views/pages/genre.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Genre</h1>
            <p>Liste aller Genre:</p>
            
            <% genreList.forEach(function(genre) { %>
                            
            <p>Name: <%= genre.name %></p>
            <p>Beschreibung: <%= genre.description %></p>
            <% });  %>
        </div>
        
    
        
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>