<!-- views/pages/ref.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Anime</h1>
            <p>Liste aller Refs:</p>
            
            <% refList.forEach(function(refs) { %>
                            
            <p>Name: <%= refs.name %></p>
            <% });  %>
        </div>
        
    
        
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>