<!-- views/pages/ref.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container" id="body">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Anime</h1>
            <p>Liste aller Referenzen:</p>

            <% refList.forEach(function(refs) { %>
                <p><a href=<%= refs.address %>><%= refs.name %></a></p>
            <% }); %>
        </div>



    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
