<!-- views/pages/stats.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container" id="body">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Stats</h2>



            <section id="user_info">

              <li><%= statData.stats[0].user_id %></li>
              <li><%= statData.stats[0].username %></li>
            </section>
            <section id="user_stats">
              <ul>
              <% for(var i=1; i<statData.stats.length; i++){ %>
                <li><%= statData.stats[i].name %></li>
                <li><%= statData.stats[i].episodes %></li>
              <% } %>
              </ul>
            </section>
        </div>



    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
