<!-- views/pages/genre.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container" id="body">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Liste aller Genre:</h2>
            <section class="content">
              <div id="list">
                <% genreList.forEach(function(genre) { %>
                <section id="genre">
                  <ul id="genre_list">
                    <div id="info1">
                      <li class="genre_name"><%= genre.name %></li>
                    </div>
                    <div id="info2">
                      <li class="genre_info"><span>Beschreibung:</span> <%= genre.description %></li>
                    </div>
                  </ul>
                </section>
                <% });  %>
              </div>
            </section>
        </div>



    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
