<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container" id="body">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2 class="headline">User List</h1>
            <section class="content">
              <div>
                <% userList.forEach(function(user) { %>
                <section id="user_info">
                  <p ><span id="name">Name:</span> <%= user.name %></p>
                  <p><span id="name">Alias:</span> <%= user.username %></p>
                </section>
                <% });  %>
              </div>
            </section>
        </div>


    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
